<div class="row">

<div class="col-md-2">
	<img src="https://fbcdn-sphotos-f-a.akamaihd.net/hphotos-ak-xfp1/v/t1.0-9/10300962_10152284506294296_6844628339027353318_n.jpg?oh=b666e96a70bdba34e756b6e13456945e&oe=5572F747&__gda__=1438471458_bd2f34530949882a267851cbbb9aa236" alt="..." class="img-circle" id="myImage">

<ul class="nav nav-pills nav-stacked" id="myNav">
  <li role="presentation" id="myPill"> <%=link_to "About Me", root_path %> </li>
  <li role="presentation" id="myPill"> <%=link_to "Resume", resume_path %> </li>
  <li role="presentation" id="myPill"> <%=link_to "Blog", blog_path %> </li>
  <li role="presentation" id="lastPill"> <%=link_to "Contact Me", contact_path %> </li>

  <p class="text-center" id="thankYou"> 
  	<br>
  	<small> <strong> Thank you for visiting my site! </strong> </small> </p>
</ul>


</div>

	<div class="col-md-10"> 

		<div class="jumbotron" id="firstJumbo">
		<h1 style="text-align:center; color:white"> Hey. I'm Stephan Roche </h1>	
		<h2 style="text-align:center; color:white"> Welcome to my own spot in the web! </h2>
		</div>

	<div class="jumbotron" id="secondJumbo">
		<%= yield %>
	</div>

</div>
</div>